name: Build Docker Images

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    name: Build Backend & Frontend Docker Images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build backend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: false
          tags: url-alias-backend:${{ github.ref_name }}

      - name: Build frontend Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: false
          tags: url-alias-frontend:${{ github.ref_name }}
